[2018-12-06 22:57] francislavoie opened #4 "Switch to Cranelift"
Just opening this up as a soft reminder cause you said you're planning on it! 😄

https://www.reddit.com/r/PHP/comments/9y7wqw/run_wasm_in_php_natively_php_extension_written_in/e9znbtn/

[2019-03-12 15:42] #4 closed

[2019-03-12 16:19] Hywan commented on #4
Done :-).

[2019-03-12 16:26] francislavoie opened #7 "Release on PECL?"
Once this is no longer experimental (starting to look good with #4 being done!!), should this be put on PECL for easy installation?

[2019-03-13 12:36] Hywan commented on #7
Thanks for asking.

My plan is to be compatible with https://github.com/FriendsOfPHP/pickle/ for various reasons:

  * It's the next generation installer for PHP extensions,
  * I've been working on it,
  * Composer may support or include Pickle at some point in the future.

Thoughts?

[2019-03-13 12:42] francislavoie commented on #7
No objections to that!

[2019-03-13 12:44] xtuc commented on #7
How would the building works? Is there a way to provide pre-build binaries? I assume that building Rust won't work everywhere.

[2019-03-13 12:47] Hywan commented on #7
We can distribute pre-build static libraries for the Wasmer runtime, but it won't be easily possible to the extension itself. I think Pickle will solve some problem.

Right now, it's just a matter of:

[code]

and done. I will focus on that part later :-).

[2019-03-13 16:34] Hywan opened #15 "Implement `wasm_validate`"
Because it will be cool :-).

[2019-03-13 16:35] Hywan opened #16 "Implement `wasm_compile` and `wasm_module_instantiate`"
Because it'll be fun!

[2019-03-13 16:36] Hywan opened #17 "Implement `wasm_memory_*`"
We need an API to grow memory, add pages etc.

[2019-03-13 16:42] Hywan opened #18 "Implement a cache to not compile the Wasm module everytime"
The idea is basically to add a cache, so that we don't have to validate & compile etc. the whole module everytime. It will improve grately the execution speed.

There is no API in `wasmer-runtime-c-api` yet. I need to work on that. Maybe we will implement that outside the `wasmer-runtime-c-api` crate.

[2019-03-13 16:46] xtuc commented on #18
I was about to open a issue to ask you a question; could you please clarify the lifetime of a WebAssembly Instance/Module?

I would like to avoid to instantiate the WebAssembly module for each request. You are mentioning a cache for the module, I'm assuming that's to avoid running possible side-effects at instantiation, right?

However, I think it would be useful to explicitly ask to keep the inst

[2019-03-14 11:19] Hywan commented on #18
So far, the lifetime of a module is constrainted by the lifetime of a PHP execution. It starts when your run `wasm_new_instance`, and it is destroyed when the instance is destroyed (so either with `unset` or by waiting the end of the execution).

This issue is here to only avoid the compilation step. The cache will contain a module then. I'm likely to use https://github.com/wasmerio/wasmer/blob/ma

[2019-03-14 11:27] xtuc commented on #18
Well I like PHP but here I have an occassion to avoid it. I don't have a specific use case in mind, but everything that would retain state. For intance, that could replace memcached with an app specific cache!

I agree that this shouldn't be the default caching strategy, but an explicit API would be great. I believe it's out-of-scope for now, just saying it would be nice to have.

[2019-03-14 11:54] #15 closed

[2019-03-14 12:50] #16 closed

[2019-03-14 13:14] Hywan commented on #18
I'm starting drafting it. More to come tomorow :-). I will probably ping you in the PR, if you're agree?

[2019-03-14 13:19] xtuc commented on #18
Sure, I'm happy to help.

[2019-03-15 11:10] Hywan commented on #18
Waiting on https://github.com/wasmerio/wasmer/pull/271.

[2019-03-15 11:58] spasius opened #23 "CentOS 7 compilation error."
It`s unable to compile in centos.

[code]

[2019-03-15 12:40] Hywan commented on #23
Hello,

Thanks for the bug report. It's not even possible to compile the Rust part today, since I'm waiting on several patches to be released.

Let's pause this issue for a week, and resume it after the next release of `wasmer-runtime-c-api`. Is it OK?

[2019-03-15 13:25] spasius commented on #23
Sure. Thanks. Will wait.

[2019-03-15 18:12] alexbowers commented on #7
@Hywan Is that a suitable way of distributing it for now?

The last release of Pickle was Feb 2015
https://github.com/FriendsOfPHP/pickle/releases and the most recent commit was Sep 06, 2017

and it appears that there are issues with PHP 7.0

[2019-03-20 14:59] #18 closed

[2019-03-20 15:00] Hywan opened #28 "Get persistent modules or instances"
As discussed in https://github.com/wasmerio/php-ext-wasm/pull/26#issuecomment-474754236, it would be great to be able to get persistent modules or instances between PHP requests.

[2019-03-20 16:44] Hywan opened #31 "Install a CI"
Because we need it.

[2019-03-20 16:45] Hywan opened #32 "Publish the Kitab documentation on the Github pages"
Kitab is used to document and test our API. We need to publish the documentation online, on a Github pages for instance.

[2019-03-22 15:39] #28 closed

[2019-03-22 16:36] Hywan commented on #23
It should be better today. Can you retry please? Run `just rust && just php`.

[2019-03-22 23:31] spasius commented on #23
Error on running cargo build. Looks like a file wasmer.hh not found.
error: failed to run custom build command for `php-ext-wasm v0.2.0 (/var/web/rust/php-ext-wasm)`
process didn't exit successfully: `/var/web/rust/php-ext-wasm/target/debug/build/php-ext-wasm-32597ea6b96fd08d/build-script-build` (exit code: 101)
--- stderr
thread 'main' panicked at 'The `wasmer.hh` file is not found.', build.rs:52

[2019-03-25 06:44] irxground commented on #23
Ignoring `build.rs` for the first time will work fine.

[code]

[2019-03-25 08:53] Hywan commented on #23
Yeah, it's sometimes broken. I need to fix that. If this crate is build before `wasmer-runtime-c-api`, then `build.rs` is broken.

[2019-03-25 11:21] spasius commented on #23
After using temporary moving `build.rs` rust compile fine. Ok. Running `just php` back the first error
`config.status: executing libtool commands
/bin/sh /var/web/rust/php-ext-wasm/extension/libtool --mode=compile   -I. -I/var/web/rust/php-ext-wasm/extension -DPHP_ATOM_INC -I/var/web/rust/php-ext-wasm/extension/include -I/var/web/rust/php-ext-wasm/extension/main -I/var/web/rust/php-ext-wasm/extens

[2019-03-25 12:37] Hywan commented on #23
It means you don't have the option `-I` on `libtool`. I'm just using the build system from PHP. What `libtool --help` gives you?

[2019-03-25 13:47] spasius commented on #23
`libtool --help` return usage information.
[code]

[2019-03-30 22:16] snnsnn opened #39 "Capabilities of wasm?"
Hi, I have a quick question. Is it possible to implement new language construct for php via wasm, say I want to write a jsx like preprocessor that can return xml like syntax from a method or function body directly in the php file.

Does wasm provides same level capability with php or zend extensions? If I understood correctly, wasm modules can be an be packaged with Composer and does not require a

[2019-03-31 10:24] #39 closed

[2019-04-03 11:43] Hywan commented on #32
Closed, see https://wasmerio.github.io/php-ext-wasm/wasm/.

[2019-04-03 11:43] #32 closed

[2019-04-03 11:44] Hywan commented on #17
Closed by #37 and #38.

[2019-04-03 11:44] #17 closed

[2019-04-04 06:30] chriskapp opened #40 "Pass string to wasm function"
Hi, I think the project looks really great. How would you pass a string to a function defined in wasm. The memory example shows how you could return a string from a function. I would assume that we could also create a `Uint8Array` and pass this containing the string bytes to the wasm function? In this case we could probably create in this lib some helper functions i.e. to convert a string to `Uint

[2019-04-06 23:40] spasius commented on #23
Can anyone show system for compile extension? compiler version, flags, etc.

[2019-04-08 09:16] irxground commented on #23
I use a Mac, and I hit the same error.

The error message displayed on the terminal is below.
[code]

My guess is that configure cannot find a C ++ compiler. Here is a part of the generated `extension/Makefile` for reference.

[code]

[2019-04-13 20:17] Hywan opened #41 "Update to wasmer 0.3.0."
New release of wasmer, we must support it.

[2019-04-15 17:35] #41 closed

[2019-04-15 19:02] Hywan commented on #7
Pickle is working. We just wait on some stuff on the Composer side. But it's working.

[2019-04-17 14:53] sperelson commented on #23
I got the same error when running `just php` on macOS. I managed to get past that and into a world of pain by running `CXX='gcc -std=c++11 -stdlib=libc++' just php`. A few of the errors included: `'finite' is deprecated` and `too few arguments provided to function-like macro invocation`. I did try a few different compilers for good measure.

I don't want to guess as to what is wrong, because I rea

[2019-04-17 17:27] Hywan commented on #23
The warning about `'finite' is deprecated` comes from PHP itself, not this code. I may open a PR to fix that though.

I developed the extension on macOS. I installed PHP with `brew`. How did you install PHP?

[2019-04-17 19:17] Hywan commented on #23
The error with `libtool` is fixed in #47. I'm facing other compilation errors on Linux. Working on it.

[2019-04-17 22:27] Hywan commented on #23
@spasius Does it work with:

[code]

or even:

[code]

[2019-04-17 23:54] spasius commented on #23
@Hywan Thanks for work. With gcc:
[code]

[2019-04-18 00:03] spasius commented on #23
The second with clang++:
[code]

[2019-04-18 00:10] spasius commented on #23
My solution:
[code]
It`s work. Thanks.

[2019-04-18 00:50] Hywan commented on #23
Interesting. With `clang++`, you have the same bug than I've on Linux, but not on macOS. That's surprising. Let me run a PR.

[2019-04-18 07:42] sperelson commented on #23
Brew'd PHP as well. But that shouldn't mean much. I suspect my setup is different or broken. I am thinking of uninstalling and reinstalling when doing so won't stop my day job.

Thank you @Hywan. I'm looking forward to trying this extension out

[2019-04-29 11:24] Hywan commented on #23
@sperelson Feel free to come back, we will find a way :-).

[2019-04-29 11:24] Hywan commented on #31
Closed by #47.

[2019-04-29 11:29] Hywan commented on #40
Hello :-),

Creating a library à la [wasm-bindgen](https://github.com/rustwasm/wasm-bindgen/) is something we are thinking of.

We look at the [Host Bindings API](https://github.com/WebAssembly/host-bindings/) too, which can be adapted to PHP. This is not stable yet, though.

Exactly, but you need to allocate some memory before, and it depends of your Wasm program. We can't just assume an `alloc`

[2019-04-29 12:33] #31 closed

[2019-04-29 12:34] Hywan opened #50 "Update to Wasmer 0.4.0"
See https://github.com/wasmerio/wasmer/releases/tag/0.4.0.

[2019-04-29 17:58] chriskapp commented on #40
Hi, yes it would be really great if you could provide some examples howto pass and return more complex data structures to a function defined in wasm.

I am currently working on an API management tool where the endpoint logic can be developed by a user. It would be great if a user could upload a wasm file with a custom function which is then invoked by the API management tool for a specfic route. T

[2019-04-30 15:16] mattsches commented on #23
Just chiming in to let you know - I'm on Ubuntu 18.10, and `just php` also fails here (with both `gcc` and `clang++`).

`libtool:   error: unrecognised option: '-I.'`

With `CXX='clang++'` and similar error with `CXX='gcc' CXXFLAGS='-std=c++11'`:

[code]

[2019-05-01 09:01] #50 closed

[2019-05-05 00:09] chinedufn commented on #40
@Hywan I believe that wasm-bindgen’s goal is for the underlying foundation to be able to support other languages - so one other option here might be trying to work with the wasm-bindgen folks to get a sense of how some of their underlying infrastructure can be re-used here.

[2019-05-07 08:06] Hywan commented on #40
@chinedufn True. We've already discussed about that with the wasm-bindgen folks. The project is closely tied to JS however. That's a big discussion to have: Between the language-interop itself, and the Host Bindings API.

[2019-05-07 08:24] #23 closed

[2019-05-07 08:25] Hywan commented on #23
Hope the new `master` is correct for all Linux distros.

[2019-05-08 10:49] #40 closed

[2019-05-08 10:58] Hywan commented on #40
Bonus: Recents commits (see #54 and #53) have boosted function invocation by 9.75 to 15.9%.

[2019-05-08 11:19] Hywan commented on #40
@chriskapp I hope https://github.com/wasmerio/php-ext-wasm/blob/master/examples/greet.php is a good basis for you! Tell me if you need help :-).

[2019-05-08 18:21] chriskapp commented on #40
@Hywan thank you very much, this looks really promising. I will try to implement this in my project and I will let you know whether everything works as expected.

[2019-05-10 14:05] mattsches commented on #23
Updated to 5c4d7ca280224c2d6bb4092608d3ef8afb039b9b but still getting the same errors. `libtool` does not support the option `-I` and/or
[code]

Maybe I'm getting it all wrong somehow …?

[2019-05-13 09:01] Hywan commented on #23
What if you run those lines by hand: https://github.com/wasmerio/php-ext-wasm/blob/0418cac5e0b25c4de94a5d8991c14e0680e1a61d/.circleci/config.yml#L48-L64. Do you know where it fails, and why?

[2019-05-14 20:59] mrceperka opened #60 "Cargo dependencies of an example"
### Summary
Hello :wave:
I would like to compile an example with `serde` crate.

### Additional details

I've tried following:
1. Add
[code]
into `Cargo.toml`
2. Run `cargo build`
3. Run `just compile-wasm examples/greet`

Modified verison of `greet.rs`
[code]

But I've got only errors:
[code]

But I've found a solution, but I do not like it.
1. Create `Cargo.toml` in `examples` folder
[code]
2. C

[2019-05-15 08:00] Hywan commented on #60
Hello :-),

The best way is to create a sub-directory in `examples/` and start a complete Rust project from that directory. I think it's the most clean and scalable way to achieve that. I will be totally fine with this approach :-).

Thanks for your future contribution!

[2019-05-15 08:00] #60 closed

[2019-05-15 08:08] mrceperka commented on #60
Thanks for a fast response.

Your approach sounds good to me. I will try to create a pull request with example that uses serde or similar crate.

[2019-05-21 09:52] Hywan opened #62 "chore(runtime) Update Wasmer to 0.4.2"
Because it must be done.

[2019-06-07 05:18] shijunti19 opened #64 "centos7 collect2: error: ld returned 1 exit status"
centos 7
php7.3

creating libtool
appending configuration tag "CXX" to libtool
checking whether the g++ linker (/usr/bin/ld -m elf_x86_64) supports shared libraries... yes
checking for g++ option to produce PIC...
checking if g++ static flag  works... yes
checking if g++ supports -c -o file.o... yes
checking whether the g++ linker (/usr/bin/ld -m elf_x86_64) supports shared libraries... yes
checki

[2019-06-09 11:19] beberlei opened #65 "How to use with wasm-pack?"
I have a small test project and use wasm-pack --target web to expose it to the browser. Is it possible ot use wasm-pack instead of just compile-wasm to generate a wasm that this PHP extension can read?

[2019-06-09 12:35] xtuc commented on #65
Currently wasm-pack is JS centric, it generates at package.json and JavaScript code to expose a good APIs.

If we could have the same code written in PHP I think it would work.

Cc @ashleygwilliams @alexcrichton

[2019-06-11 07:13] Hywan commented on #65
We are working on WebIDL bindings, with the hope to ease passing non-integer data between Wasm and its host (here, PHP). I think it's a relevant way to go. Maybe `wasm-pack` can support WebIDL bindings in the future. Let's see!

[2019-06-11 07:13] #65 closed

[2019-06-11 07:15] Hywan commented on #64
Ah, this `-fPIC` error… I don't know how to fix it yet, except by running `gcc` by hand as I did for CircleCI. Let's keep this issue opened for the moment the time I find a solution.

[2019-06-11 08:56] xtuc commented on #65
`wasm-pack` doesn't but `wasm-bindgen` which is the underlying tool does, it generates JS based on WebIDL.

[2019-06-18 07:30] Hywan commented on #62
Closed by https://github.com/wasmerio/php-ext-wasm/commit/f8511cb1af73414f96c6e5b2c0539685a414ea25.

[2019-06-18 07:30] #62 closed

[2019-06-18 07:31] Hywan opened #66 "chore(runtime) Update Wasmer to 0.5.0"
Because it's cool!

[2019-07-10 15:38] Hywan commented on #7
With #71, we are close to a possible release on PECL! Rust is no longer required to compile the extension.

[2019-07-15 08:42] #66 closed

[2019-08-14 06:07] suhanyujie opened #73 "Support PHP 7.2"
### Summary

#### What's the PHP version?
- Hello~ My PHP version is `PHP 7.2.18` in CentOS 7.2. I haven't found it in the doc.
- When I build it, it replies to some error.

### Additional details
- The error info like this:
[code]

[2019-08-14 10:26] Hywan commented on #73
Hello,

Thanks for pointing that out! I'll work on a fix.

[2019-08-14 12:55] #73 closed

[2019-08-14 12:57] Hywan commented on #73
The `master` branch is now compatible with PHP 7.2.

[2019-08-16 10:46] suhanyujie commented on #64
(⊙o⊙)… I've met the trouble too

[2019-08-24 02:45] yejune commented on #64
ubuntu bionic
php 7.3

same

[2019-08-28 11:20] Hywan commented on #64
How do you build the extension?

[2019-08-29 07:18] mrceperka opened #77 "WASI support"
### WASI support
Hello :wave: , quick question :)

According to this article - https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/ one is able to _just run_ WASM binary that was compiled with WASI support (it's possible that I mix terms, sorry)

I've found somewhere on Twitter, that PHP is not yet supported by https://github.com/CraneStation/wasmtime.

But what if

[2019-08-29 15:07] Hywan commented on #77
Yes, we can add support for WASI quite easily. Give me few days to work on it :-)!

[2019-08-29 16:14] mrceperka commented on #77
Oh my... You are so awesome! Thanks :pray:

[2019-08-31 08:26] filips123 commented on #7
@Hywan is there any update?

Also, Pickle is not updated since 2017 and releases since 2015. What does this mean? Is is discontinued (I hope not)? Or it it finished so it doesn't need new changes (then changes should be released as new version)? And when will Composer support it?

[2019-09-06 08:41] Hywan commented on #7
Publishing `php-ext-wasm` on PECL, or supporting Pickle is two different things (even if I'm one of the maintainers of both projects… it can confusing).

Publishing `php-ext-wasm` on PECL is already here, see http://pecl.php.net/wasm and #76. We've an issue with PECL though, since we distribute shared libraries within the package. To avoid shared libraires, the user must have the Rust toolchain in

[2019-09-08 19:06] omid opened #80 "Supported types"
Hey,

Thanks for your awesome work. :-)

Where can I find the supported types between PHP and WASM?
For example, I want to see if a wasm function can return a PHP associative array or not.

[2019-09-09 13:23] Hywan commented on #80
Hello,

This is not yet possible. WebAssembly supports `i32`, `i64`, `f32` and `f64` only, and it won't change. We are working with other WebAssembly engineers on WIT (WebAssembly Interface Types, https://github.com/WebAssembly/interface-types), to support more types “natively”/transparently. It should land soon :-).

[2019-09-10 09:54] omid commented on #80
Cool, looking forward to using that

[2019-10-09 09:32] janbuecker commented on #64
When using the instructions from the CircleCI configuration, the extension gets compiled, but cannot be loaded. Any advice here?

[code]

[2019-10-30 05:48] boyanio opened #85 "Windows build"
Has anyone succeeded in building it for Windows? I have VC++ 2017 and trying to follow these [instructions](https://lytrax.io/blog/makeitwork/creating-php7-extensions-linux-windows), but to no avail.

[2019-10-30 18:42] dbalabka opened #86 "Possibility to integrate Rust Cassandra client into PHP"
Hello,

Recently, I have faced a problem that official [PHP Cassandra Client](https://pecl.php.net/package/cassandra) isn't maintained well and does not support PHP >=7.3. The idea might sound crazy but still. Is it possible to compile https://crates.io/crates/cdrs into WASM binary, use inside PHP and rely on such client on production? Also, what is the cost and limitations of using `php-ext-wasm`

[2019-11-02 14:32] frodeborli opened #87 "Will it be possible to serialize state and limit execution time?"
### Summary

Will this extension support non-blocking operation and state serialization?

### Additional details

It can in many cases be helpful to run code for a certain number of instructions, or milliseconds before execution is preemptively halted.

This can be useful for example in event loop environments such as swoole or ReactPHP.

To support this, it would be necessary that wasm methods co

[2019-11-06 11:09] beatscode opened #88 "Would I be able to use golang to produce the wasm file?"
### Summary
Is it possible to use this project to load a wasm file generated from golang?

### Additional details

I tried but got

[code]

[2019-11-06 13:25] Hywan commented on #85
We are going to migrate our CI to include Windows. I'm likely to face the same issue, and I'll try to fix it :-).

[2019-11-06 13:27] Hywan commented on #86
The idea isn't crazy. You need WASI support so that you will have access to the network and I/O stack. We have been working on it very recently, and it will come in the next release of `php-ext-wasm`.

[2019-11-06 13:31] Hywan commented on #87
So far, the Wasmer runtime (the underlying WebAssembly runtime) supports gas metering, but I don't think it is what you want. I think a first step is https://github.com/wasmerio/wasmer/issues/480. This is implemented, but not the C API doesn't handle it for the moment. We can work on it though.

[2019-11-06 13:32] Hywan commented on #88
It is possible to load a Wasm module representing a Go program, yes.

What code generates your error?

[2019-11-06 20:05] boyanio commented on #85
This sounds promising. I created a VM with Ubuntu for now, where I can do the compilation and test things. It works awesome btw - you check out my [playground](https://github.com/boyanio/php-wasm).

[2019-11-07 12:31] dbalabka commented on #86
@Hywan thank you for an answer. Currently, I am reviewing two options:
1. Compile Rust client into WASM
2. or connect it with PHP FFI.

Am I'm right that WASM extension has it own some FFI layer to convert types? Not sure, but I guess native PHP FFI might bring better performance. Am I wrong?

[2019-11-08 09:18] beatscode commented on #88
I ran composer to import `"php-wasm/php-wasm": "^0.5.0"`

when I try to run
[code]
I get the error described above.

The go code is the following
[code]

I used tinygo to build maybe that is the issue?
`/usr/local/tinygo build -o wasm.wasm -target wasm ./main.go`

[2019-11-08 12:17] Hywan commented on #88
Did you include the `vendor/autoload.php`?

[2019-11-09 08:02] beatscode opened #89 "just build with php 7.3"
after running just build I recieve the following. Does php-ext-wasm not support 7.3?

Running ubuntu 19.04

[code]

[2019-11-09 08:03] beatscode commented on #88
My mistake, didn't compile extension properly

[2019-11-09 08:03] #88 closed

[2019-11-13 13:12] Hywan commented on #86
WebAssembly has WASI (System Interfaces), which is “similar” to FFI (in terms of goals, it has many differences though, check https://hacks.mozilla.org/2019/03/standardizing-wasi-a-webassembly-system-interface/ to learn more).

I'm not sure PHP FFI will bring better performance. I'm going to update the extension to Wasmer 0.10 so that we will have WASI support

[2019-11-13 14:16] Hywan commented on #89
Hello,

The project works on PHP 7.3. What's the minor version of the PHP binary you use?

[2019-11-13 14:40] Hywan commented on #89
(just tested with 7.3.8, it works well)

[2019-11-18 01:57] xywf221 opened #92 "Go wasm not supported ?"
### Summary

I compiled a simple wasm instance with go, but it has exceptions.
[code]
### Additional details
Go source code :
[code]
Compile command : `GOOS=js GOARCH=wasm go build -o go_main.wasm 8.go`

[2019-11-18 10:16] s2x opened #93 "Build fails on Ubuntu 18.04"
When compiling last commit (6147c9837626277b07331f4f3eca53f2bf756dbe) under Ubuntu 18.04 i got this error:

[code]

Previous commit builds ok (0154a563df263ef2c537ee5eff49a62f8e5c34bc)

[2019-11-18 13:11] Hywan commented on #93
Hello,

Thanks for the bug report and the bisect on valid commits.
Do you compile with GCC or clang? What's your architecture (x86, …)?

Thanks!

[2019-11-18 13:19] Hywan commented on #92
Duplicate of https://github.com/wasmerio/wasmer/issues/924.

You've to declare the host functions (imported functions, aka imports) required by Go. Go WebAssembly toolchain is essentially targetting the Web for the moment, and a little jugglery is required to glue everything. Their approach (which is a valid one) is to required a set of imported functions.

Since this is more and more requested, I

[2019-11-18 13:21] Hywan commented on #85
Thanks for your patience, it's appreciated!

[2019-11-18 13:31] s2x commented on #93
There is some problem with src/wasmer.hh:
[code]
when i add this line `#define ARCH_X86_64` it compiles.

g++ -v

[code]

[2019-11-18 13:43] s2x commented on #93
Replacing
 `#if defined(GCC) || defined(__clang__)`

with
 `#if defined(__GNUC__) || defined(__clang__)`

 works for me.

[2019-11-18 14:09] Hywan commented on #93
Does it work also with:

[code]

It should, but we never know…

[2019-11-19 06:17] s2x commented on #93
Yes it works

[2019-11-19 07:08] s2x opened #95 "How to set parameter type to i64 in imported functions"
Hi,
i try to implement missing function where expected signature is:
`expected signature: [I32, I64, I32, I32] -> [I32]`

my code:
[code]

when i try to run i get this error:
`Incorrect import signature, namespace: wasi_unstable, name: fd_seek, expected signature: [I32, I64, I32, I32] -> [I32], found signature: [I32, I32, I32, I32] -> [I32]`

How to set parameter type to i64 in imported functions?

[2019-11-20 14:51] Hywan commented on #95
Hi!

It's not yet possible, see https://github.com/wasmerio/php-ext-wasm/blob/master/src/wasm.cc#L880-L882.

Because PHP has no way to represent an `i32` or an `i64`, I decided to fallback to `i32` everytime.

The hack I've in my head is to create a new “type” in PHP, like `wasm\i32` and `wasm\i64` (2 “value objects”), and use them instead of `int`. Is it something you would use?

[2019-11-22 08:23] s2x commented on #95
Yes, it would be great.

[2019-11-25 08:00] MichaelNino opened #97 "Call to undefined function Wasm\wasm_fetch_bytes()"
Hi,

I'm very excited about the possibilities for this extension!!! :-)

### Describe the bug

Should I build against staging branch? When I built against master it didn't complete.

### Steps to reproduce

Followed installation instructions in README for staging branch

### Expected behavior

php examples/simple.php didn't run

### Actual behavior

[code]

[2019-11-25 15:52] Hywan commented on #97
Hello,

Did you run  `composer install` before?
Also, it seems the extension isn't properly installed, or basically not enabled. Try with `php -d extension=wasm examples/simple.php` maybe.

[2019-11-25 15:53] Hywan commented on #97
Also, you should use the `master` branch, not `staging`. This one is for testing purposes.

[2019-11-26 18:07] MichaelNino commented on #97
When I built "staging" branch, I did run `composer install`. Please note the following:

`just v0.5.1`
`php 7.2.24-0ubuntu0.18.04.1`
`composer 1.9.0`

So I did what you recommended. I checked "master" and the following output is from `just build`. The error is `Makefile:194: recipe for target 'wasm.lo' failed`.

[code]

[2019-11-28 14:06] Hywan commented on #97
I think `libtool` is failing because of `-DPIC`. Can you run the command without it?

In general, can you try the following commands:

[code]

Does it work?

[2019-11-30 14:35] crevillo commented on #97
hello. i'm more or less in same situation. executing the commands you suggest, i still get same error as @MichaelNino . let me know if i can help with more info.

[2019-12-01 06:44] MichaelNino commented on #97
The reason why both @crevillo and myself are both failing at: `#include "php.h"` is because the include path in your shell script @Hywan isn't finding the PHP source code in the same location that your source code is located. I'm running Ubuntu 18.04 and my source is installed at: `/usr/include/php/20170718` because my repository is at: `ppa:ondrej/php`.

I'm not a C/C++ programmer but it would be

[2019-12-02 11:57] Hywan commented on #97
If you see `php-config` and if `php-config --prefix` returns a valid path for you, I don't see why you should have a compilation problem with the commands above. Can you check that please?

[2019-12-02 14:13] crevillo commented on #97
still no luck. i have a sh script right now with this content
[code]
carlosrevillo@PU0713:~/workspace/php-ext-wasm$ ./build.sh
Cleaning..
Configuring for:
PHP Api Version:         20170718
Zend Module Api No:      20170718
Zend Extension Api No:   320170718
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for a sed that does not truncate out

[2019-12-02 18:15] MichaelNino commented on #97
Hey @Hywan `php-config --prefix` returns "/usr". However `php.h` is located in "/usr/include/php/20170718/main/php.h". This is why the shell script variable `PHP_PREFIX` and `EXTENSION` cannot be used to find "php.h" isn't not located underneath "php-ext-wasm" source tree. Make sense?

[2019-12-04 11:14] crevillo commented on #97
hello. it is working for now after following this other issue https://github.com/wasmerio/php-ext-wasm/issues/93

the line recommended by @Hywan there does the trick. i thought it was merged in the master branch, but it isn't, right?

[2019-12-04 11:52] Hywan commented on #97
@crevillo I was about to point #93 to you. Wasmer 0.11 has been released and it contains the bug fix. I'll update the `master` branch of `php-ext-wasm` today to include the new version of Wasmer.

[2019-12-04 11:58] #93 closed

[2019-12-04 11:59] Hywan commented on #93
`master` contains the fix for your issue.

[2019-12-04 12:00] Hywan commented on #97
@crevillo Done, see https://github.com/wasmerio/php-ext-wasm/pull/98.

[2019-12-04 12:04] Hywan commented on #97
@MichaelNino I'm not sure #98 will be able to fix your issue, but can you retry with the last shell commands I provided in https://github.com/wasmerio/php-ext-wasm/issues/97#issuecomment-559507046, and tell me the exact output please.

Normally, `php-config --prefix` returns the root that has an acces to all PHP directories, such as `include/php/20170718/`.

[2019-12-04 16:24] #92 closed

[2019-12-04 16:26] Hywan commented on #77
(more than a few weeks actually… working on it soon, see https://github.com/wasmerio/wasmer/pull/1030 to follow latest improvements)

[2019-12-09 10:49] Hywan commented on #64
Maybe the provided shared library isn't compatible for your system.

In https://github.com/wasmerio/php-ext-wasm/pull/99, I've introduced a new command `just build-runtime`. Can you run it first? It will compile a shared library specifically for your system.

[2019-12-09 10:51] #86 closed

[2019-12-12 04:41] MichaelNino commented on #97
@Hywan I used Ubuntu on Windows Subsystem to verify that php-ext-wasm installs properly. I used the Ubuntu repository to install php7.2 however the Digital Ocean server that is experiencing the issue uses the `ppa:ondrej/php` repository I indicated earlier. For now, I will use the Ubuntu repository however the `ppa:ondrej/php` repository as you may already know is very popular and used quite often

[2019-12-12 04:41] #97 closed

[2019-12-12 14:04] Hywan commented on #97
I'll try to run a test on `ppa:ondrej/php`. Thanks for your support!

[2019-12-28 07:14] kids-return opened #102 "just build with Docker image php-7.2-fpm"
just build
[code]
pecl install wasm
[code]
I don't know what went wrong
Providing a `Dockerfile` might be a better option

[2020-01-03 23:33] passcod commented on #77
What's the status on this, given the above linked PR was merged?

[2020-01-09 06:42] shijunti19 commented on #64
@Hywan
![image](https://user-images.githubusercontent.com/5392211/72044262-4afe3380-32ee-11ea-88cc-65351152c9b6.png)

[2020-01-22 13:22] Hywan commented on #64
@shijunti19 What version of Rust do you have? Is it up-to-date?

[2020-01-22 13:23] Hywan commented on #102
Sorry for the late reply. I think it's a duplicate of #64. Closing this one :-).

[2020-01-22 13:23] #102 closed

[2020-01-24 02:08] shijunti19 commented on #64
@Hywan
ok
[code]

[2020-01-24 02:37] shijunti19 commented on #64
just build

[code]

[2020-01-28 07:47] phpstatic opened #106 "add wasm3 backend support"
### Motivation

The default backend build size is huge, can we add https://github.com/wasm3/wasm3 as alternative backend choice to reduce the binary size ?

[2020-01-28 12:38] DeppLearning commented on #64
I experienced the same problems on Manjaro Linux 18.1.5 running php 7.4.2 and rust 1.40.0

https://github.com/wasmerio/php-ext-wasm/blob/6b02d0f1a853ba270bafa6f2b123e29c47dfbac7/justfile#L47

I can at least run the example/simple.php file when I add the -fPIC flag here, like so:

export CXXFLAGS='-std=c++11 -fPIC'

Thanks for making this, looking forward to experiment more with rust, wasm and php.

[2020-01-29 14:05] Hywan commented on #106
Hello,

What binary are you talking about? Is it the `php` binary?
We can use our Singlepass backend, which is lighter than the Cranelift backend ([learn more about our backends](https://github.com/wasmerio/wasmer/tree/master/lib#backends)). What's your usecase?

[2020-01-30 07:48] phpstatic commented on #106
we like to add wasm into our deploy package: https://hub.docker.com/r/phpstatic/php  https://phpstatic.com/

not know Singlepass before, I will try test build with Singlepass and update there.

[2020-02-10 08:33] Hywan commented on #64
@shijunti19 You can update Rust (1.41 is the current version), but it won't solve the problem I guess.

@DeppLearning Some platforms need PIC, some others don't. I don't know exactly how to solve this.

[2020-02-10 08:34] Hywan commented on #89
Closing due to inactivity, please re-open if you need any assistance.

[2020-02-10 08:34] #89 closed

[2020-02-10 08:39] Hywan commented on #106
I would love to get your feedbacks about our Singlepass backend :-).

[2020-02-12 14:15] phpstatic commented on #106
late time I try the edge not get it build, I will try late again .

[2020-02-21 12:13] phpstatic commented on #106
Today, I build Singlepass backend with php-ext-wasm  into my php package,  thanks for the tips.

[2020-02-21 12:13] #106 closed

[2020-02-21 12:45] Hywan commented on #106
Cool :-). If you need any help or assistance, please feel free to ask!

[2020-02-21 12:46] Hywan commented on #106
Also, were you able to reduce your package size? If yes, by how many? I'm interested by your results. Thanks!

[2020-02-21 13:59] phpstatic commented on #106
The Singlepass php-ext-wasm increase about 4M package size,  I like this result a lot.

Sorry I forget the old Cranelift package size,  I just remember static library is bigger than all others library.

[2020-02-21 14:24] Hywan commented on #106
You probably mean “The singlepass [backend] _decreases_ the package size of 4Mb”. That's great to hear!

[2020-02-26 03:59] chanmix51 opened #109 "Compilation error"
Thanks for the bug report!

### Describe the bug

Following the documentation, the project failed to build.

### Steps to reproduce
environment:
 - Linux rust-lang 4.4.0-142-generic #168~14.04.1-Ubuntu SMP Sat Jan 19 11:28:33 UTC 2019 i686 GNU/Linux
 - Debian 9 LXC container
 - freshly installed php7.4-dev debian 9 package from `deb https://packages.sury.org/php/ stretch main`

1. Compile with 'ju

[2020-02-26 04:01] syrusakbary commented on #109
It seems the issue is on Wasmer. Moving the issue to that repo :)

[2020-03-24 01:24] suhanyujie opened #113 "maybe we should have a docker environment"
### Summary

maybe we should have a docker environment

### Additional details

This makes it easier for us to experience the tool。It's just a suggest : )

[2020-03-24 09:26] Hywan commented on #113
I'm OK with that, but I don't have time right now. Do you want to tackle this issue?

[2020-03-26 11:25] suhanyujie commented on #113
Ok, I'll take a try

[2020-03-27 01:52] suhanyujie opened #114 "libwasmer.so: file not recognized: File format not recognized"
### Summary

When I build the ext, it gives me some error info:

[code]

- And when I try `just build-runtime`, the info is following:

[code]

- I create a `wasmer` dir, it works:

[code]

- Then run `just build` the error info is:

[code]

### Additional details
- PHP 7.3
- CentOS 7
- cargo 1.42.0 (86334295e 2020-01-31)

[2020-04-01 06:34] suhanyujie commented on #114
I already know how the solve this problem, change the branch and compile:

[code]

Look at [build.sh detail](https://github.com/suhanyujie/php-ext-wasm/blob/my_trying/other/build.sh).

[2020-04-01 16:17] syrusakbary commented on #114
What was the issue @suhanyujie ?

[2020-04-02 07:38] suhanyujie commented on #114
It's finished. I'll just close the issue.

[2020-04-02 07:38] #114 closed

[2020-04-02 11:16] suhanyujie commented on #113
The docker env you can see [here](https://hub.docker.com/repository/docker/suhanyujie/phpwasm)

[2020-04-05 10:51] hackmasker123 opened #116 "How should call a function from php?"
For javascript, wasm can do interaction with  js function by some approaches.  Can php-ext-wasm do it too ?
https://emscripten.org/docs/porting/connecting_cpp_and_javascript/Interacting-with-code.html

[2020-04-27 07:32] Hywan commented on #114
I've to apologize, I totally missed your issue! Sorry for that. If there is anything I can help you with, feel free to ping.

[2020-04-27 07:42] Hywan commented on #95
I'm likely to adopt a new strategy. We will use the PHP `int` type hint, and cast to `i32` or `i64` according to the Wasm signature in the module.

[2020-04-27 07:45] Hywan commented on #116
Yes, see the `imported_function` example:

* https://github.com/wasmerio/php-ext-wasm/blob/master/examples/imported_function.rs
* https://github.com/wasmerio/php-ext-wasm/blob/master/examples/imported_function.php

[2020-04-27 07:45] #116 closed

[2020-05-15 02:31] jmjoy opened #118 "Waht is the mini PHP version requirement?"
### Summary

I am trying to build the PHP extension of PHP version:
[code]

on Linux.

But some build errors occur:

[code]

[2020-06-08 09:46] Hywan commented on #118
Tested against PHP 7.2. We could update to support PHP 7.1, but since [it has reached its end of life](https://www.php.net/supported-versions.php), I don't see the point :-).

[2020-06-08 10:18] jmjoy commented on #118
@Hywan Thanks.

[2020-08-16 15:40] guest271314 opened #121 "Is it possible to write to WebAssembly.Memory in PHP that is exported to and read in JavaScript in parallel?"
### Summary

Consider

[code]
where due to Chromium refusing to capture monitor devices when `getUserMedia({audio: true})` is executed at Linux we use
`php -S localhost:8000` to stream output of `passthru()` to `Response.body` (`ReadableStream`) from `fetch()` call.

[code]

Ideally we should be able to write the output from the shell script directly to a WebAssembly Memory instance, grow the shar

[2020-08-17 12:10] Hywan commented on #121
Why closing the issue? It starts getting fun!

[2020-08-17 12:11] #118 closed

[2020-08-17 13:03] guest271314 commented on #121
@Hywan

Some individuals and institutions do not prefer certain questions. Am not sure if writing to a single Memory instance in PHP or any other language actually solves the entire issue.

At the machine am currently testing, creating a `WebAssembly.Memory()` instance or `SharedArrayBuffer` or `ArrayBuffer` with bytes set to `512 * 344 * 60 * 60` (60 minutes of audio data) throws a memory allocat

[2020-08-17 13:16] guest271314 commented on #121
@Hywan

That is the scientific state of mind that have been anticipating by asking these questions while carrying on nonetheless without waiting for answers. Current working code, where `fetch()` adds the element of CORS due to using localhost to get the data with `passthru()`

[code]

[2020-08-17 13:26] guest271314 commented on #121
Ideally, we can create a Transferable Stream directly from PHP (Go, C++, R, bash, etc.) to JavaScript where `readable` at

[code]

is STDOUT directly from native application or shell script https://bugs.chromium.org/p/chromium/issues/detail?id=1115640, however that concept requires some work to implement correctly without trying to squeeze use cases into API's that were no intended for that purpos

[2020-08-18 09:24] Hywan commented on #121
To start from the base, what you're trying to do is:

* Generic audio bytes from PHP on the server side
* Send the audio bytes to the client
* Audio bytes are received by JS
* JS sends audio bytes to Wasm memory bytes

Is that correct?

You've to be careful regarding the security of all of this, but it's funny. So you don't need this `php-ext-wasm` extension to do that. Wasm on the server side and

[2020-08-18 13:19] guest271314 commented on #121
No.

- PHP, or any other programming language that is capable of executing the necessary code to stream raw bytes of system audio output (or the given use case) and is capable of creating WASM memory instance
  - Creates such a Memory instance
  - Exports that WASM Memory instance to JavaScript from PHP context
  - When user decides, commences to write the data from STDOUT to the WASM Memory insta

[2020-08-18 13:30] guest271314 commented on #121
The above is description of the full context of what am trying to achieve. For this issue am trying to determine if it is even possible to create a WASM Memory instance in a given programming language outside of a JavaScript browsing context, export that single WASM Memory instance to JavaScript context, write to that shared memory in the native application or shell script, for example, raw audio

[2020-08-18 13:52] guest271314 commented on #121
Am already able to achieve

within the limitations of WASM Memory and JavaScript implementations, at the code at https://github.com/wasmerio/php-ext-wasm/issues/121#issuecomment-674875152 by substituting, for example (`3000` is arbitrary below, find the number that does not throw memory allocation error)

`this.memory = new WebAssembly.Memory({initial: 3000, maximum: 3000, shared: true});`

for

`

[2020-08-18 13:56] guest271314 commented on #121
Re "Security" all of the native applications or shell scripts that will be used in the procedure can be declared beforehand. All of the code that is to be used can be stored in a single directory which user grants read/write permissions for, similar to using Native File System, see https://github.com/guest271314/captureSystemAudio/blob/master/native_messaging/file_stream/app/captureSystemAudio.js

[2020-08-24 04:34] guest271314 commented on #121
Put together a minimal, verifiable, complete working example of streaming from `fetch()` to `AudioWorkletProcessor` via Native Messaging, including the observable restriction which lead to filing this issue, and those issues referenced above, specifically, `RangeError` being thrown, and limitations on the amount of memory that can be pre-allocated at an `ArrayBuffer` or `SharedArrayBuffer`.

Posti

[2020-09-12 20:50] Eligioo opened #123 "Recipe for target 'wasm.la' failed"
Thanks for the bug report!

### Describe the bug

error: Recipe `build` failed with exit code 2

### Steps to reproduce

[code]

### Additional info

php -v
PHP 7.4.10 (cli) (built: Sep  9 2020 06:36:14) ( NTS )

[2020-10-08 11:53] edorian opened #124 "Building from source or pecl fails on PHP 7.2 to 7.4"
### Describe the bug

Both `pecl install` and building from source fails with the same issue on both Linux and Mac

### Steps to reproduce

- `php7.4-dev` ( Install PHP of your choice (brew install php, apt-get install php7.4-dev, or compile)
- `pecl install wasm`

### Expected behavior

Extension builds

### Actual behavior

A clear and concise description of what actually happened.

If applicabl

[2020-10-08 12:57] Hywan commented on #124
Thanks for reporting the issue. I'll take a look at it.

[2020-10-12 04:21] shijunti19 commented on #124
I want to call wasm in laravel and share the code with JS

[2021-01-07 17:45] leemcd56 commented on #124
Same occurs in PHP 8.0.0:

[code]

[2021-01-09 10:39] sc0Vu commented on #124
I can build with php 7.4.0 but not php 8.0.0.

The error message shown:
[code]

[2021-01-09 19:06] ioan555 opened #125 "Hello world"
__Originally posted by @ioan555 in https://github.com/syrusakbary/promise/issues/92__

[2021-01-25 20:46] arku31 commented on #114
I am still not able to build it in the master branch. Using the branch "trying" helped.
#uname -a
Linux fae8cd9b7f2d 4.19.121-linuxkit #1 SMP Tue Dec 1 17:50:32 UTC 2020 x86_64 GNU/Linux
# cat /etc/issue
Debian GNU/Linux 10 \n \l

[2021-02-03 05:20] dependabot-preview[bot] opened #131 "Dependabot couldn't find a Cargo.toml for this project"
Dependabot couldn't find a Cargo.toml for this project.

Dependabot requires a Cargo.toml to evaluate your project's current Rust dependencies. It had expected to find one at the path: `/Cargo.toml`.

If this isn't a Rust project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/wasmerio).

[View the update logs](https://app

[2021-02-03 08:51] #131 closed

[2021-03-02 09:28] Hywan commented on #124
This issue is now our priority :-). cc @wasmerio/langint

[2021-03-02 09:37] jubianchi commented on #124
Hello @edorian

As @Hywan said, `wasmer-php` is part of our current priorities. Is PHP7 still required for you?

For now, we only test and build with PHP8 but we can look at introducing support for PHP7.4.

[2021-04-12 20:10] yerke commented on #124
@jubianchi It would be nice to add support for PHP 7.4, if it's not too much trouble. There is still a lot of legacy code that will not be upgraded to 8.0 any time soon.
P.S. Thank you to whole team for working on this project.

[2021-04-20 15:26] shijunti19 commented on #123
libs/wasm.so
/usr/bin/ld: cannot find -lwasmer
collect2: error: ld returned 1 exit status
make: *** [Makefile:303: wasm.la] Error 1

[2021-04-20 15:39] shijunti19 opened #142 "collect2: error: ld returned 1 exit status"
[code]

[2021-04-20 23:56] shijunti19 commented on #142
dependency_libs=' -L/mnt/f/web/xiaolu/wasmer/wasmer-php/ext/lib -lwasmer'

[2021-04-21 00:14] shijunti19 commented on #142
PHP         : /www/server/php/80/bin/php
PHP_SAPI    : cli
PHP_VERSION : 8.0.3
ZEND_VERSION: 4.0.3
PHP_OS      : Linux - Linux iZ94t3ix68kZ 4.18.0-193.14.2.el8_2.x86_64 #1 SMP Sun Jul 26 03:54:29 UTC 2020 x86_64
INI actual  : /longteng/soft/wasmer-php/ext/tmp-php.ini
More .INIs  :
---------------------------------------------------------------------
PHP         : /www/server/php/80/bin/phpdbg
PHP_

[2021-04-21 13:53] jubianchi commented on #142
Hello @shijunti19,

Thanks for reporting the issue. Can you confirm the solution in https://github.com/wasmerio/wasmer-php/issues/142#issuecomment-823676162 fixes the issue?

If yes, I'll send a patch for that.

[2021-04-21 14:07] jubianchi commented on #124
Hello @yerke

TBH, supporting both PHP8 and PHP7 requires some work but I'll try to fix that.

[2021-04-21 16:27] jubianchi commented on #142
@shijunti19 can you give me some context because I can't reproduce your issue.

On which platform are you trying to build the extension?

[2021-04-22 00:26] shijunti19 commented on #142
@jubianchi PHP：
Please support first  My server centos8
Windows is a local test environment
/ www / server / php / 80 / bin / php
PHP_SAPI：cli
PHP_VERSION：8.0.3
ZEND_VERSION：4.0.3
PHP_OS：Linux-Linux iZ94t3ix68kZ 4.18.0-193.14.2.el8_2.x86_64 ＃1 SMP Sun Jul 26 03:54:29 UTC 2020 x86_64
INI实际：/longteng/soft/wasmer-php/ext/tmp-php.ini

[2021-05-24 04:54] guest271314 commented on #121
@Hywan

One issue with `WebAssembly.Memory.grow()` is that eventually an exception will be thrown when memory reaches implementation maximum.

I solved the use case using existing web platform technologies https://github.com/guest271314/NativeTransferableStreams.

Thanks!

[2021-05-24 04:54] #121 closed

[2021-05-25 08:32] Hywan commented on #121
:-)

[2021-07-26 13:04] shijunti19 commented on #142
@jubianchi When will it be repaired

Description:	CentOS Linux release 8.2.2004 (Core)
Release:	8.2.2004

[2021-08-12 10:11] Hywan commented on #142
We can't set any deadline. We will work on it as soon as we will have time :-). Sorry for the long delay.

[2021-09-09 10:44] dochne opened #145 "Cannot address by function name"
I'm having some trouble with trying to make a sensible interface to actually using this library, but I may just be missing something obvious (or, alternatively, have completely missed a key paradigm :P)

Looking at your example copy of [your exports-function.php](https://github.com/wasmerio/wasmer-php/blob/d592186dfff0c980314f6dac62f6e26b51478fb1/examples/exports-function.php) example, we see that

[2021-10-18 13:28] demurgos commented on #85
I just wanted to voice my support for this issue. I'd like to use Wasm in a PHP project but some contributors use Windows. Until wasm-php supports Windows, I can't use it unfortunately.

[2022-03-12 08:48] sc0Vu opened #146 "Compile failed in different situation"
Hi, thanks for this great library, I saw multiple changes and try to build on my computer. But got different errors:

1. `./configure --enable-wasmer'

[code]

After checkout configure file, does it be `--enable-wasm`?

2. `make` succeed, but the `make test` didn't work:

[code]

3. After execute `make clean`, I always got:

[code]
Maybe the previous build was failed?

OS: alpine in docker
PHPVers

[2022-04-25 11:15] mvorisek commented on #85
Is there any progress for Windows support?

[2022-06-09 17:55] cweagans opened #147 "If I did some significant work on this repo (touching almost every file), would you merge it?"
I would like to rework this repository into something more widely usable in the PHP community. Here are a few things that I've noticed:

* A PHP extension is required to do anything. This is probably the single biggest thing blocking wide adoption of this library. The vast majority of PHP applications are hosted on shared hosting providers that don't allow installing/loading additional PHP extensi

[2022-06-17 13:04] davidbullado opened #148 "Could you tell what version of gcc is required?"
Hi,
I got several compilation errors. I wonder if you recommend any version of gcc:
[code]

Here is my version of gcc:
[code]